.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding : 10 ;
}


.label{
    -fx-text-fill: white;
}

.indexed-cell:even{
    -fx-background-color: #d3d3d3;
}

.indexed-cell:odd{
    -fx-background-color: #a9a9a9;
}

#border-pane {
    -fx-background-color: #464646;
}

.left {
    -fx-alignment: center;
}

#close{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: red;
    -fx-effect: none;
    -fx-padding : 5 ;

}

#top_bar{
    -fx-background-color: #383838;
     -fx-text-fill: white;
}

#top_bar .label{
 -fx-text-fill: white;
}

#select1, #select2{
    -fx-text-fill: white;
}