.text-field {
    -fx-text-fill : orange;
    -fx-control-inner-background: blue;
}

#close{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: red;
    -fx-effect: none;
    -fx-padding : 5 ;

}

#top_bar{
    -fx-background-color: #383838;
}

#top_bar .label{
 -fx-text-fill: white;
}